body{
    background-color: rgb(213, 218, 223);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}

.divMain{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root{
    height: 100vh   ;
}

.App{
    height: 100%;
}