form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
form input{
    margin: 10px;
    border-radius: 3%;
    border: 3px solid black;
}
input[type=submit]{
    margin-top: 10px;       
}